@charset "UTF-8";

body {
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    font-size: large;
}

h1 {
    text-align: center;
    font-size: 30px;
    height: 40px;
    width: auto;
    border-radius: 10px;
    padding-top: 10px;
}

#formulario {
    background-color: rgb(52, 53, 54);
    height: auto;
    width: 500px;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
}

#cod {
    height: 30px;
    width: 460px;
}

#btnCod {
    background-color: rgb(77, 77, 77);
    color: white;
    height: 40px;
    width: 460px;
    margin: auto;
    border: 0.3px solid white;
    border-radius: 4px;
    cursor: pointer;
}

p {
    font-weight: bolder;
}

#msg, #result {
    text-align: justify;
    background-color: rgb(77, 77, 77);
    color: white;
    border-radius: 4px;
}

.select {
    width: 460px;
    background-color: rgb(77, 77, 77);
    border-radius: 4px;
}

#rangenumber {
    background-color: rgb(77, 77, 77);
    height: 12px;
    width: 30px;
    text-align: center;
    border-radius: 4px;
}

.radio-button {
    border: 1px solid rgb(77, 77, 77);
    height: auto;
    width: 460px;
    margin: auto;
    border-radius: 4px;
}

#codificar {
    margin-left: -12px;
}

option, select {
    color: rgb(238, 238, 238);
}

.chave {
    display: none;
}

#rodape {
    background-color: black;
    font-size: small;
    height: 20px;
    border-radius: 4px;
    color: white;
    text-align: center;
}